*{
    margin: 0;
}
.cabecalho {
   background-color: black;
   color: white;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.corpo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}
.texto {
    background-color: yellow;
    color: black;
    height: 600px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .imagem {
    background-color: blue;
    color: white;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #botao1 {
    margin-bottom: 10px;
 }
.container {
    font-size: 32px;
}
.rodape {
    background-color: green;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}